List

Question - Appending and Removing Elements: Create an empty list called my_list. Append
 the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [102]:
my_list = [1,2,3]
my_list.remove(2)
my_list

[1, 3]

 Question- Accessing Elements: Create a list called fruits containing the strings "apple",
 "banana", "cherry", "date". Print the second element of the list

In [104]:
my_list = [ "apple","banana", "cherry", "date"]
my_list[1]

'banana'

 Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a
 slice of the list containing elements from the third element to the sixth element

In [106]:
my_list = list(range(1,11))
my_list[2:6]

[3, 4, 5, 6]

Sets
 Question - Adding and Removing Elements: Create an empty set called my_set. Add the
 numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set

In [108]:
my_set = set(range(1,4))
my_set

{1, 2, 3}

In [109]:
my_set.remove(2)

In [110]:
my_set

{1, 3}

 Question - Operations: Create two sets called set1 and set2, each containing a few
 numbers. Print the union, intersection, and difference of the two sets

In [112]:
set1 = {1,3,54,2,7,8,6}
set2 = {6,7,8,43,7,4,543}

In [113]:
print(f'union {set1 | set2}')
print(f'intersection {set1 & set2}')
print(f'difference {set1 - set2}')

union {1, 2, 3, 4, 6, 7, 8, 43, 54, 543}
intersection {8, 6, 7}
difference {1, 2, 3, 54}

 Tuples
 Question - Accessing Elements: Create a tuple called coordinates containing the latitude
 and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude
 and longitude separately

In [115]:
location = (40.7128, -74.0060)
print(f'longtitude: {location[0]}\nlatitude: {location[1]}')
list_of_tuples = [('longtitude', 40.7128), ('latitude', -74.0060), ('city', 'New York')]
my_dict = dict(list_of_tuples)
print(f'longtitude: {my_dict["longtitude"]}')
print(f'latitude: {my_dict["latitude"]}')

longtitude: 40.7128
latitude: -74.006
longtitude: 40.7128
latitude: -74.006

 Question - Packing and Unpacking: Create a tuple called person containing information
 about a person, such as their name, age, and city. Then unpack the tuple into individual
 variables.

In [117]:
person = ('Cherry',47,'Auckland City')
name = person[0]
age = person[1]
city = person[2]
print(f'name: {name}')
print(f'age: {age}')
print(f'city: {city}')
print('---------------------')
list_of_tuples = [('name', 'Cherry'), ('age', 47), ('city', 'Auckland City')]
my_dict = dict(list_of_tuples)
name = my_dict['name']
age = my_dict['age']
city = my_dict['city']
print(f'name: {name}')
print(f'age: {age}')
print(f'city: {city}')

name: Cherry
age: 47
city: Auckland City
---------------------
name: Cherry
age: 47
city: Auckland City