# Pandas

- Data Manipulation
- Data Analysis

1. Series: One dimensional {array}
2. Data Frame: Two Dimensional {Table with rows and column}

In [1]:
#Importing
import pandas as pd
import seaborn as sns

#Load the iris
iris = sns.load_dataset('iris')

# Exploring the data

In [6]:
#Display the first few rows
print(iris.head(5))

#Display the last few rows
print(iris.tail(5))

#Statistical Sumary
print(iris.describe(include='all'))

#Missing values
print(iris.isnull().sum())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# Basic Operations

In [11]:
# Selecting the Data

## By Single Column
species = iris['species']
print(species)

## By multiple Column
m_col = iris[['species', 'sepal_length']]
print(m_col)

## By rows index
r_value = iris.iloc[:3]
print(r_value)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
       species  sepal_length
0       setosa           5.1
1       setosa           4.9
2       setosa           4.7
3       setosa           4.6
4       setosa           5.0
..         ...           ...
145  virginica           6.7
146  virginica           6.3
147  virginica           6.5
148  virginica           6.2
149  virginica           5.9

[150 rows x 2 columns]
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [13]:
#Filtering Data
filtered_data = iris[iris['petal_length'] > 5]
print(filtered_data)

     sepal_length  sepal_width  petal_length  petal_width     species
83            6.0          2.7           5.1          1.6  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
120           6.9          3.2           5.7          2.3   virginica
122           7.7          2.8           6.7          2.0   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [21]:
#Sorting Data
sorting_data = iris.sort_values(by='sepal_width', ascending=False)
print(sorting_data)

     sepal_length  sepal_width  petal_length  petal_width     species  \
15            5.7          4.4           1.5          0.4      setosa
33            5.5          4.2           1.4          0.2      setosa
32            5.2          4.1           1.5          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
16            5.4          3.9           1.3          0.4      setosa
..            ...          ...           ...          ...         ...
87            6.3          2.3           4.4          1.3  versicolor
62            6.0          2.2           4.0          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
119           6.0          2.2           5.0          1.5   virginica
60            5.0          2.0           3.5          1.0  versicolor

     sepal_area
15        25.08
33        23.10
32        21.32
14        23.20
16        21.06
..          ...
87        14.49
62        13.20
68        13.64
119       13.20
60        10.00

[150 rows x 6 columns]

# Modifying Data

In [20]:
#Add a column
iris['sepal_area'] = iris['sepal_length'] * iris['sepal_width']
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species  sepal_area
0           5.1          3.5           1.4          0.2  setosa       17.85
1           4.9          3.0           1.4          0.2  setosa       14.70
2           4.7          3.2           1.3          0.2  setosa       15.04
3           4.6          3.1           1.5          0.2  setosa       14.26
4           5.0          3.6           1.4          0.2  setosa       18.00

In [19]:
#Drop a  column
iris.drop(columns=['sepal_area'], inplace= True)
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Aggregation and GroupBy

In [22]:
avg = iris.groupby('species').mean()
print(avg)

            sepal_length  sepal_width  petal_length  petal_width  sepal_area
species
setosa             5.006        3.428         1.462        0.246     17.2578
versicolor         5.936        2.770         4.260        1.326     16.5262
virginica          6.588        2.974         5.552        2.026     19.6846

# Save the data

In [24]:
iris.to_csv('iris_data.csv', index=False)

iris.to_excel('iris_data.xlsx', index=False)

# Hands-On Exercises

1. Load the Titanic dataset using Seaborn (sns.load_dataset('titanic')).

In [3]:
import seaborn as sns

titanic = sns.load_dataset('titanic')

print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

2. Find the number of passengers for each class (class column).

In [6]:
print(titanic['class'].value_counts())

class
Third     491
First     216
Second    184
Name: count, dtype: int64

3. Calculate the average age of passengers grouped by their survival status (survived column).

In [9]:
avg = titanic.groupby('survived').mean('age')
print(avg)

            pclass        age     sibsp     parch       fare  adult_male  \
survived
0         2.531876  30.626179  0.553734  0.329690  22.117887    0.817851
1         1.950292  28.343690  0.473684  0.464912  48.395408    0.257310

             alone
survived
0         0.681239
1         0.476608

4. Visualize the distribution of ages for male and female passengers.

In [12]:
avg = titanic.groupby('sex').mean('age')
print(avg)

        survived    pclass        age     sibsp     parch       fare  \
sex
female  0.742038  2.159236  27.915709  0.694268  0.649682  44.479818
male    0.188908  2.389948  30.726645  0.429809  0.235702  25.523893

        adult_male     alone
sex
female    0.000000  0.401274
male      0.930676  0.712305

5. Save your results to a CSV file.

In [15]:
titanic.to_csv('titanic_data.csv', index=False)